<a href="https://colab.research.google.com/github/ML-Final-UCF-Bootcamp-062021/ml-final-project/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import tree
import pandas as pd

In [19]:

df = pd.read_csv("/content/gdrive/MyDrive/usda_data.csv", index_col=None)

In [20]:
df.head()

   CensusTract  Urban  Pop2010  ...  TractOMultir  TractHispanic  TractHUNV
0   1001020100      1     1912  ...            45             44          6
1   1001020200      1     2170  ...            55             75         89
2   1001020300      1     3373  ...           117             87         99
3   1001020400      1     4386  ...            74             85         21
4   1001020500      1    10766  ...           310            355        230

[5 rows x 43 columns]

In [31]:
df.dtypes

CensusTract               int64
Urban                     int64
Pop2010                   int64
OHU2010                   int64
LILATracts_1And10         int64
LILATracts_Vehicle        int64
HUNVFlag                  int64
LowIncomeTracts           int64
PovertyRate             float64
 MedianFamilyIncome     float64
LA1and10                  int64
LATracts1                 int64
lapop1                    int64
lapop1share             float64
lalowi1                   int64
lalowi1share            float64
lawhite1                  int64
lawhite1share           float64
lablack1                  int64
lablack1share           float64
laasian1                  int64
laasian1share           float64
lanhopi1                  int64
lanhopi1share           float64
laaian1                   int64
laaian1share            float64
laomultir1                int64
laomultir1share         float64
lahisp1                   int64
lahisp1share            float64
lahunv1                   int64
lahunv1share            float64
lasnap1                   int64
lasnap1share            float64
TractLOWI                 int64
TractWhite                int64
TractBlack                int64
TractAsian                int64
TractNHOPI                int64
TractAIAN                 int64
TractOMultir              int64
TractHispanic             int64
TractHUNV                 int64
dtype: object

In [22]:
df.dropna

<bound method DataFrame.dropna of        CensusTract  Urban  Pop2010  ...  TractOMultir  TractHispanic  TractHUNV
0       1001020100      1     1912  ...            45             44          6
1       1001020200      1     2170  ...            55             75         89
2       1001020300      1     3373  ...           117             87         99
3       1001020400      1     4386  ...            74             85         21
4       1001020500      1    10766  ...           310            355        230
...            ...    ...      ...  ...           ...            ...        ...
52041  56041975400      0     6852  ...           584            871        124
52042  56043000200      0     3326  ...           172            309         61
52043  56043000302      1     2542  ...           182            407         23
52044  56045951100      0     3314  ...            62             91         47
52045  56045951300      1     3894  ...           126            125         34

[52046 rows x 43 columns]>

In [23]:
target = df["LILATracts_1And10"]

In [25]:
data = df.drop("LILATracts_1And10", axis=1)
feature_names = data.columns
data.head

<bound method NDFrame.head of        CensusTract  Urban  Pop2010  ...  TractOMultir  TractHispanic  TractHUNV
0       1001020100      1     1912  ...            45             44          6
1       1001020200      1     2170  ...            55             75         89
2       1001020300      1     3373  ...           117             87         99
3       1001020400      1     4386  ...            74             85         21
4       1001020500      1    10766  ...           310            355        230
...            ...    ...      ...  ...           ...            ...        ...
52041  56041975400      0     6852  ...           584            871        124
52042  56043000200      0     3326  ...           172            309         61
52043  56043000302      1     2542  ...           182            407         23
52044  56045951100      0     3314  ...            62             91         47
52045  56045951300      1     3894  ...           126            125         34

[52046 rows x 42 columns]>

In [26]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [27]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [29]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [30]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.2228674024758579, 'LowIncomeTracts'),
 (0.1786290179770779, 'LA1and10'),
 (0.10029988285135345, ' MedianFamilyIncome '),
 (0.09221149772514041, 'LATracts1'),
 (0.07390309154437132, 'PovertyRate'),
 (0.06372219608795471, 'LILATracts_Vehicle'),
 (0.02805638260649027, 'lapop1'),
 (0.02676060835326468, 'Urban'),
 (0.021185187382702367, 'lalowi1share'),
 (0.018301828653525695, 'lasnap1share'),
 (0.017883005316040992, 'lasnap1'),
 (0.017391437498500188, 'lapop1share'),
 (0.014145023918978285, 'lalowi1'),
 (0.01335647192219853, 'lawhite1'),
 (0.013342281235089739, 'TractLOWI'),
 (0.010231953688465474, 'lahunv1share'),
 (0.009441914385298499, 'lawhite1share'),
 (0.006364800279687942, 'TractWhite'),
 (0.006023675643463112, 'lablack1share'),
 (0.004731210588970225, 'lahunv1'),
 (0.004649685752304939, 'HUNVFlag'),
 (0.004170690055996542, 'TractHUNV'),
 (0.004090971822110776, 'laomultir1'),
 (0.003966478600312554, 'laomultir1share'),
 (0.0037427587234311567, 'TractAsian'),
 (0.0036342610881746717, 'laasian1'),
 (0.003467190353628314, 'OHU2010'),
 (0.0032563243194422132, 'TractBlack'),
 (0.0031000695527376066, 'lablack1'),
 (0.0029295833237896417, 'laasian1share'),
 (0.002677507320410247, 'Pop2010'),
 (0.0026591956849514394, 'CensusTract'),
 (0.0026386617281733845, 'laaian1share'),
 (0.0026074042395995145, 'TractOMultir'),
 (0.002526220484181627, 'lahisp1share'),
 (0.0023805553577460536, 'lahisp1'),
 (0.0022895523405567363, 'laaian1'),
 (0.0021026190560026266, 'TractHispanic'),
 (0.0018323425634383288, 'TractAIAN'),
 (0.0008945430872460378, 'lanhopi1share'),
 (0.0008547965419605189, 'TractNHOPI'),
 (0.0006797178693734737, 'lanhopi1')]