<a href="https://colab.research.google.com/github/ML-Final-UCF-Bootcamp-062021/ml-final-project/blob/howard/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import dependencies and mount google drive to access data**

---

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import tree
import pandas as pd

# **Read in csv file from Gdrive**
# **Analyzed the data**
data was preprocessed before importing due to size of file. Original file had 90+ columns and many null/NaN values.  Team discussed the importance of the extra columns for the purpose of this code and decided it didn't have an impact on our objective.

In [3]:
# read the csv data into dataframe
df = pd.read_csv("/content/gdrive/MyDrive/usda_data.csv", index_col=None)
df.head()

   CensusTract  Urban  Pop2010  ...  TractOMultir  TractHispanic  TractHUNV
0   1001020100      1     1912  ...            45             44          6
1   1001020200      1     2170  ...            55             75         89
2   1001020300      1     3373  ...           117             87         99
3   1001020400      1     4386  ...            74             85         21
4   1001020500      1    10766  ...           310            355        230

[5 rows x 43 columns]

In [ ]:
df.dtypes

In [5]:
df.dropna

<bound method DataFrame.dropna of        CensusTract  Urban  Pop2010  ...  TractOMultir  TractHispanic  TractHUNV
0       1001020100      1     1912  ...            45             44          6
1       1001020200      1     2170  ...            55             75         89
2       1001020300      1     3373  ...           117             87         99
3       1001020400      1     4386  ...            74             85         21
4       1001020500      1    10766  ...           310            355        230
...            ...    ...      ...  ...           ...            ...        ...
52041  56041975400      0     6852  ...           584            871        124
52042  56043000200      0     3326  ...           172            309         61
52043  56043000302      1     2542  ...           182            407         23
52044  56045951100      0     3314  ...            62             91         47
52045  56045951300      1     3894  ...           126            125         34

[52046 rows x 43 columns]>

# **Start building our model**

In [6]:
# define our target
target = df["LILATracts_1And10"]

In [7]:
# create data set without target data
data = df.drop("LILATracts_1And10", axis=1)
feature_names = data.columns
data.head

<bound method NDFrame.head of        CensusTract  Urban  Pop2010  ...  TractOMultir  TractHispanic  TractHUNV
0       1001020100      1     1912  ...            45             44          6
1       1001020200      1     2170  ...            55             75         89
2       1001020300      1     3373  ...           117             87         99
3       1001020400      1     4386  ...            74             85         21
4       1001020500      1    10766  ...           310            355        230
...            ...    ...      ...  ...           ...            ...        ...
52041  56041975400      0     6852  ...           584            871        124
52042  56043000200      0     3326  ...           172            309         61
52043  56043000302      1     2542  ...           182            407         23
52044  56045951100      0     3314  ...            62             91         47
52045  56045951300      1     3894  ...           126            125         34

[52046 rows x 42 columns]>

In [8]:
# split data for training and testing
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [9]:
# create decision tree model
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [10]:
# create random forest model
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [11]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.25534151282997825, 'LowIncomeTracts'),
 (0.19792308549449666, 'LA1and10'),
 (0.09094762130186759, 'LATracts1'),
 (0.07647197769262416, ' MedianFamilyIncome '),
 (0.06364255791729209, 'LILATracts_Vehicle'),
 (0.0532931807635109, 'PovertyRate'),
 (0.02785598485668759, 'Urban'),
 (0.025685321965726333, 'lapop1'),
 (0.02234262005667865, 'lapop1share'),
 (0.020746775837209405, 'lasnap1share'),
 (0.017607265871916772, 'lalowi1share'),
 (0.015622017598014149, 'lalowi1'),
 (0.013786379512935744, 'lasnap1'),
 (0.012717097204514308, 'TractLOWI'),
 (0.009588551346929354, 'lawhite1'),
 (0.009089042013073978, 'lahunv1share'),
 (0.00828036020533839, 'lawhite1share'),
 (0.005491862412354092, 'TractWhite'),
 (0.005175941679234463, 'laomultir1share'),
 (0.004856101122367563, 'TractAsian'),
 (0.004835272627062658, 'TractHUNV'),
 (0.004788792838529309, 'HUNVFlag'),
 (0.004572356712942067, 'lahunv1'),
 (0.0041891607213291, 'lablack1'),
 (0.004159569684608814, 'laomultir1'),
 (0.004074069632019485, 'lablack1share'),
 (0.0035134596131654234, 'TractBlack'),
 (0.002983622156266527, 'laasian1'),
 (0.002961207597862994, 'lahisp1share'),
 (0.0029078737438575043, 'TractOMultir'),
 (0.002898911962783424, 'Pop2010'),
 (0.0028703106911249386, 'OHU2010'),
 (0.0027533321114914843, 'laaian1share'),
 (0.0026824034556701317, 'laasian1share'),
 (0.0025805929482396648, 'CensusTract'),
 (0.0023744537906545994, 'laaian1'),
 (0.002279696002161205, 'lahisp1'),
 (0.002246429048387146, 'TractHispanic'),
 (0.0017525876991007939, 'TractAIAN'),
 (0.0008775397484948042, 'lanhopi1share'),
 (0.0006674874744416668, 'TractNHOPI'),
 (0.0005656120570558503, 'lanhopi1')]